<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022. @QJ315
  ~ github账户:https://github.com/lmy8848
  ~ User:NJQ-PC
  ~ File:AndroidManifest.xml
  ~ Date:2022/07/28 11:21:28
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qj315.cloudmusicoutlink">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/vector_drawable_cloudmusicgreen"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@drawable/vector_drawable_cloudmusicgreen"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudMusicOutLink"
        tools:ignore="AllowBackup">
        <activity
            android:name=".activity.AddMusicResourceActivity"
            android:launchMode="singleInstance"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleInstance"
            android:exported="false" />
        <activity
            android:name=".activity.PlayerActivity"
            android:exported="false"
            android:launchMode="singleInstance" />

        <service
            android:name=".PlayMusicService"
            android:enabled="true"
            android:exported="true">
            <intent-filter
                android:priority="1000"
                tools:ignore="ExtraText">

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="com.qj315.cloudmusicoutlink.PlayMusicService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.CloudMusicOutLink.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>